<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.bookmebus.printer" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>BmbBluetoothPrinter</name>
    <description>Cool plugin description</description>
    <js-module name="BmbBluetoothPrinter" src="www/BmbBluetoothPrinter.js">
        <clobbers target="BmbBluetoothPrinter" />
    </js-module>


    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="BmbBluetoothPrinter">
                <param name="ios-package" value="BmbBluetoothPrinter" onload="true"/>
            </feature>
        </config-file>
        <header-file src="src/ios/BmbBluetoothPrinter.h" />
        <source-file src="src/ios/BmbBluetoothPrinter.m" />

        <framework src="src/ios/PrinterSDK" custom="true" />
        <framework src="src/ios/PrinterSDK/libPrinterSDK.a" custom="true" />
        <framework src="src/ios/PrinterSDK/PrinterSDK.h" custom="true" />

    </platform>


</plugin>
